.text-center {
  display: flex;
  justify-content: center;
  button {
    font-size: 15px;
    font-weight: 500;
    color: #e9e8e8;
    background-color: #114b37;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    &:hover {
      background-color: #8b7e7e;
      color: #24d49a;
    }
  }
}
